@use "../abstracts" as a;
@use "../layouts";
@use "../breakpoints" as bp;

.label {
  display: block;
  font-family: a.$secondaryFont;
  margin-top: 15px;
  margin-bottom: 5px;
}

.input {
  display: block;
  @extend .input;
}

.hourInput {
  max-width: 100px;
}

.submitBtn {
  margin-top: 20px;
  @extend .submitBtn;
}
