@use "../abstracts" as a;
@use "../layouts";
@use "../breakpoints" as bp;

.addClass {
  max-height: 400px;
  overflow-y: auto;

  .label {
    display: block;
    font-family: a.$secondaryFont;
    margin-top: 15px;
    margin-bottom: 5px;
  }

  .optionSelect {
    max-width: 400px;
    max-height: 200px;
    margin-bottom: 30px;

    // .react-multi-select-component {
    //   .dropdown-container {
    //     margin-bottom: 100px;
    //     .dropdown-content {
    //       max-height: 400px;
    //       overflow-y: auto;
    //     }
    //   }
    // }
  }

  .input {
    display: block;
    @extend .input;
  }

  .hourInput {
    max-width: 100px;
  }

  .submitBtn {
    margin-top: 20px;
    @extend .submitBtn;
  }
}
