@use "../layouts";
@use "../abstracts" as a;
@use "../breakpoints" as bp;

.addHours {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  align-items: center;
  width: 600px;
  font-family: a.$secondaryFont;

  .label {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    margin-top: 8px;
  }

  .label.invalid {
    color: a.$alert;

    .input {
      color: a.$alert;
    }
  }

  .error {
    color: a.$alert;
    margin-top: 10px;
  }

  .leftCol {
    flex: 1 1;

    .dateContainer {
      transition: all 200ms ease-in-out;

      .date {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .input {
        @extend .input;
      }

      .dateError {
        display: none;
      }
    }

    .dateContainer.invalid {
      color: a.$alert;

      .input {
        color: a.$alert;
      }

      .dateError {
        display: block;
        margin-top: 5px;
      }
    }
  }

  .rightCol {
    display: block;
    width: 250px;

    .input {
      @extend .input;
      max-width: 50px;
      display: block;
      margin-top: 4px;
    }

    .hours {
      margin-top: 20px;
      padding-left: 5px;
      padding-bottom: 5px;
    }

    .hours.invalid {
      border: 1px solid a.$alert;
      border-radius: 8px;
    }

    .checkbox {
      @extend .checkbox;
    }
  }

  @include bp.media("md") {
    width: auto;
    flex-direction: column;

    .rightCol {
      .hours {
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
      }
    }
  }
}

.checkbox {
  @extend .checkbox;
  @include bp.media("md") {
    margin-top: 0;
  }
}
.checkbox.invalid {
  color: a.$alert;
}

.submitContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 20px;

  .submitBtn {
    display: block;
    @extend .submitBtn;
    width: 70px;
    margin-left: auto;
  }
}
