@use "../layouts";
@use "../abstracts" as a;

.addUser {
  margin-top: 20px;
  .input,
  select {
    display: block;
    margin: 5px 0;
  }

  .input {
    @extend .input;
  }

  .label.invalid {
    .error {
      color: red;
      display: block;
      text-decoration: none;
    }

    .input {
      border-color: red;
    }
  }

  .label.valid {
    .error {
      display: none;
    }
  }

  .submitContainer {
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    margin-top: 15px;

    .submitBtn {
      @extend .submitBtn;
    }
  }
}
