@use "../layouts";
@use "../abstracts" as a;

.container {
  @extend .container;
  padding-top: 16px;
}

.adminNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 33px;
  cursor: pointer;
}

.link {
  @extend .customLink
  // background-color: transparent;;;
}
