@use "../layouts";
@use "../abstracts" as a;

.container {
  @extend .container;
  padding-top: 16px;
}

.title {
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 33px;
}

.adminActions {
  margin-top: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .filterBtn {
    background-color: a.$yellow;
    border: 1px solid a.$accentDark;
    border-radius: 8px;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 5px;

    .filterImg {
      max-width: 16px;
    }
  }
}

.usersContainer {
  padding-top: 30px;
}
