@use "../abstracts" as a;
@use "../layouts";

.overview {
  background-color: a.$backgroundGrey;
  padding: 25px 50px;

  .userInfo {
    display: flex;
    align-items: center;
    gap: 30px;

    .apprenticeInfo {
      display: flex;
      align-items: center;
      gap: 10px;
      font-family: a.$secondaryFont;
    }
  }

  .totals {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 20px;
  padding-bottom: 0;

  .trainingBtn {
    @extend .filterBtn;
  }
}

.details {
  padding: 15px;
}
