@use "../abstracts" as a;
@use "../layouts";

.overview {
  background-color: a.$backgroundGrey;
  padding: 25px 50px;

  .totals {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  gap: 20px;

  .editBtn {
    border: none;
    background-color: transparent;
    @extend .customLink;
  }
}

.details {
  padding: 15px;
}
