@use "../abstracts" as a;

.formContainer {
  background-color: a.$backgroundLight;
  height: 100vh;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;

  .form {
    max-width: 700px;
    width: 100%;
    background-color: a.$backgroundWhite;
    border: 1px solid a.$accentDark;
    border-radius: 8px;
    padding: 40px;
  }

  .titleBg {
    background-color: a.$accentDark;
    width: 100%;
    height: 93px;
    display: flex;
    align-items: center;
    padding-left: 26px;
    margin-bottom: 10px;
    border-radius: 4px;

    .title {
      font-size: 3rem;
      font-weight: 400;
      background-repeat: no-repeat;
      background-position: left center;
      padding-left: 20px;
      height: 100%;
      display: flex;
      align-items: center;
      // TODO: @520 reduce font size
    }
  }

  .link {
    color: a.$accentDark;
    font-size: 14px;
  }

  .submitBtnContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .submitBtn {
      font-family: a.$secondaryFont;
      font-size: 1.25rem;
      background-color: a.$accentLight;
      padding: 10px 24px;
      border: 1px solid a.$accentDark;
      border-radius: 8px;
    }
  }
}
