@use "../abstracts" as a;
@use "../breakpoints" as bp;
@use "../layouts";

.courseCard {
  font-family: a.$secondaryFont;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid a.$solarMain;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 10px;

  .text {
    max-width: 80%;
    .courseInfo {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .link {
        text-decoration: none;
        margin-left: 10px;
        @extend .customLink;
      }
    }
  }

  .editBtn {
    @extend .customLink;
    color: a.$primaryText;
  }
}
