@use "../abstracts" as a;
@use "../breakpoints" as bp;
@use "../layouts";

.courseCard {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .courseInfo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    h4,
    span {
      margin: 0 10px;
    }

    .link {
      text-decoration: none;
      @extend .customLink;
    }

    .info {
      max-width: 80%;
    }
  }

  .editBtn {
    @extend .filterBtn;
  }
}
