@use "../abstracts" as a;

.actionContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;

  .greeting {
    margin-right: 16px;
    font-family: a.$secondaryFont;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4a4a4a;
  }

  .actionsDropdown {
    position: absolute;
    top: 25px;
    right: 0;
    background-color: lightgrey;
    padding: 20px;
  }
}
