@use "../abstracts" as a;
@use "../layouts";

.adminActions {
  margin-top: 50px;
  max-width: 500px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: a.$secondaryFont;

  .filterBtn {
    @extend .filterBtn;

    .filterImg {
      max-width: 16px;
    }
  }

  .searchContainer {
    position: relative;

    .filterInput {
      @extend .input;
      max-width: 200px;
      padding: 8px 16px;
      padding-left: 32px;
    }

    .searchImg {
      position: absolute;
      left: 8px;
      top: 42%;
      transform: translateY(-50%);
      width: 13px;
      height: 16px;

      img {
        width: 100%;
      }
    }
  }
  .addHours {
    @extend .customLink;
    background-color: transparent;
    border: none;
  }
}

.staffActions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;

  button {
    margin: 0 5px;
  }

  .trainingBtn {
    @extend .filterBtn;
  }
}

.staffContainer {
  padding-top: 30px;
}
