@use "../abstracts" as a;
@use "../layouts";

.links {
  margin-bottom: 20px;

  .link {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    @extend .customLink;

    &.active {
      border-bottom: 1px solid a.$yellow;
    }
  }
}

.page {
  padding-top: 20px;
}
