@use "../abstracts" as a;
@use "../layouts";

.courseTitle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: a.$secondaryFont;
}

.filterBtn {
  @extend .filterBtn;
}

.courses {
  padding-top: 20px;
}
