@use "../abstracts" as a;

.totalHours {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.hoursDetails {
  margin-top: 10px;
  padding: 20px;
  background-color: a.$backgroundWhite;
  border-radius: 8px;
}
