@use "../abstracts" as a;
@use "../breakpoints" as bp;

.detailsContainer {
  background-color: a.$backgroundWhite;
  border: 1px solid a.$borderGrey;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 16px;
  padding-top: 20px;
  cursor: pointer;
  font-family: a.$secondaryFont;

  .collapsedView {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hours {
    display: flex;
    align-items: center;
    padding-left: 16px;

    .title {
      font-weight: 900;
      line-height: 27.32px;
      width: 173px;

      @include bp.media("md") {
        width: auto;
      }
    }

    .totalHours {
      font-weight: 900;
      font-style: normal;
      font-size: 14px;
      width: 124px;
      line-height: 19px;

      @include bp.media("md") {
        width: auto;
      }
    }

    .categoryContainer {
      display: flex;
      align-items: center;
      gap: 30px;

      @include bp.media("md") {
        gap: 10px;
      }

      @include bp.media("sm") {
        flex-wrap: wrap;
      }
    }

    @include bp.media("lg") {
      flex-wrap: wrap;
      gap: 20px;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .addBtn {
      margin-right: 20px;
    }
  }

  .mprsContainer {
    .mprQuantity {
      margin-top: 20px;
      cursor: pointer;
      font-family: a.$secondaryFont;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
