@use "../abstracts" as a;

.detailsContainer {
  background-color: a.$backgroundWhite;
  border: 1px solid a.$borderGrey;
  border-radius: 8px;
  margin-top: 20px;
  padding: 10px 16px;
  padding-top: 20px;
  cursor: pointer;

  .collapsedView {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hours {
    display: flex;
    align-items: center;
    gap: 25px;

    .title {
      font-family: a.$secondaryFont;
      font-weight: 800;
      line-height: 27.32px;
      margin-right: 40px;
    }

    .totalHours {
      margin-right: 20px;
    }

    p {
      margin-right: 15px;
    }
  }

  .actions {
    display: flex;
    align-items: center;

    .addBtn {
      margin-right: 20px;
    }
  }

  .mprsContainer {
    .mprQuantity {
      margin-top: 20px;
      cursor: pointer;
      font-family: a.$secondaryFont;
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
