@use "../layouts";
@use "../abstracts" as a;

.inputContainer {
  margin-bottom: 10px;

  .label {
    display: block;
    color: a.$solarMain;
    font-family: a.$secondaryFont;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .input {
    @extend .input;
  }
}
