@use "../abstracts" as a;
@use "../layouts";

.adminActions {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 20px;

  .filterBtn {
    @extend .filterBtn;

    .filterImg {
      max-width: 16px;
    }
  }

  .link {
    @extend .customLink;
    background: transparent;
    border: none;
  }
}

.table {
  margin: 30px 0;
  font-family: a.$secondaryFont;
  width: 100%;
  text-align: center;
  color: a.$solarMain;
  border: 1px solid a.$tableBorder;
  padding: 10px;
  border-collapse: collapse;

  .headers {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 19px;

    .row.top {
      &:hover {
        background-color: transparent;
      }
    }
  }

  .body {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
  }

  .row {
    border: 1px solid a.$tableBorder;
    height: 40px;

    &:hover {
      background-color: a.$yellow;
    }
  }
}

.paginationContainer {
  display: flex;
  justify-content: flex-end;
  font-family: a.$secondaryFont;

  .pagination {
    display: flex;
    align-items: center;
    gap: 8px;

    .button {
      background: transparent;
      border: none;
      cursor: pointer;
    }

    .pageNumbers {
      display: flex;
      align-items: center;

      .pageNum {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        padding: 10px;
        width: 24px;
        height: 24px;
      }

      .pageNum.selected {
        background-color: a.$yellow;
        border-radius: 50%;
      }
    }
  }
}
