@use "../abstracts" as a;

.mprDetails {
  padding: 10px;
  border: 1px dashed a.$secondaryText;
  border-radius: 8px;
  margin-top: 10px;
  cursor: default;
  // font-family: a.$secondaryFont;

  .hoursContainer,
  .signatureContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }

  .date {
    width: 170px;
    font-weight: 400;
    font-family: a.$secondaryFontLight;
  }

  .totalHours {
    width: 113px;
    font-weight: 900;
    font-style: normal;
  }

  .categoryContainer {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .signatureContainer {
    justify-content: flex-end;
  }
}
