@use "../abstracts" as a;

.mprDetails {
  // display: flex;
  // align-items: center;
  padding: 10px;
  border: 1px dashed a.$secondaryText;
  border-radius: 8px;
  // gap: 10px;
  margin-top: 10px;

  .hoursContainer,
  .signatureContainer {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
  }

  .date {
    width: 170px;
    font-weight: 400;
  }

  .totalHours {
    margin-right: 30px;
    font-weight: 900;
  }

  .signatureContainer {
    justify-content: flex-end;
  }

  div {
    margin-right: 25px;
  }
}
