@use "../abstracts" as a;
@use "../layouts";

.staffFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;

  .input {
    @extend .input;
  }

  .submitContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .submitBtn {
      @extend .submitBtn;
    }
  }
}
