@use "../abstracts" as a;

.staffMember {
  width: 100%;
  background-color: a.$backgroundLight;
  padding: 16px 32px;
  margin-bottom: 32px;
  border: 1px solid a.$accentDark;
  border-radius: 8px;
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.01);
  }
}

.staffContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .staffInfo {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    font-family: a.$secondaryFont;
    color: a.$secondaryText;

    .name {
      width: 150px;
      font-weight: 900;
    }

    .role {
      font-weight: 300;
    }
  }
}
