@use "../layouts";
@use "../abstracts" as a;

.apprenticeSummary {
  padding: 30px;

  .action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 0;

    .addTraining {
      @extend .filterBtn;
    }
  }

  .title {
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
  }

  .apprenticeContainer {
    margin-top: 24px;
  }
}
