@use "../abstracts" as a;
@use "../breakpoints" as bp;
@use "../layouts";

.training {
  padding: 10px;
  padding-right: 20px;
  border: 1px dashed a.$secondaryText;
  border-radius: 8px;
  margin-top: 10px;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    .date {
      font-weight: 400;
      font-family: a.$secondaryFontLight;
    }
  }

  .right {
    display: flex;
    align-items: center;
    gap: 10px;

    .action {
      @extend .filterBtn;
    }
    .hours {
      font-weight: 900;
    }
  }
}
