$accentDark: #9d712e;
$accentLight: #c3943e;

$yellow: #ffbd59;

$primaryText: #000000;
$secondaryText: #666666;

$solarMain: #4c4c4c;

$backgroundDark: #000000;
$backgroundLight: #f0f0f0;
$backgroundWhite: #ffffff;
$backgroundOrange: #fcac4c;
$backgroundGrey: #f2f2f2;

$borderGrey: #666666;

$success: #499167;
$alert: #c32f27;
