@use "../abstracts" as a;
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.input {
  width: 100%;
  color: a.$solarMain;
  font-family: a.$secondaryFont;
  border: 1px solid a.$solarMain;
  border-radius: 4px;
  line-height: 1.5;
  padding: 10px;
}
