@use "../abstracts" as a;
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.input {
  width: 100%;
  color: a.$solarMain;
  font-family: a.$secondaryFont;
  border: 1px solid a.$solarMain;
  border-radius: 4px;
  line-height: 1.5;
  padding: 10px;

  &:focus {
    outline: 1px solid a.$accentLight;
  }
}

.submitBtn {
  background-color: a.$success;
  color: a.$whiteText;
  border: 1px solid a.$solarMain;
  border-radius: 8px;
  padding: 10px;
  width: 100px;
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: 1px solid a.$solarMain;
    transform: scale(1.02);
  }
}
